<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="<%= lists_path %>">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXCI1WpcRhanpmWu9HyiAKNFvLH-NIbuXXpyuuHH1FUdAp2SG5--_pOnoiMz9klyOQdjA&usqp=CAU" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= lists_path %>">My lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_list_path %>">New lists</a>
      </li>
    </ul>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1025&q=80);">
  <div class="container">
    <h1>Save any kind of movies  you like! </h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
          <p><%= list.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
